header{
background-color: black;
height: 10em !important;
}

body{
    background-color: black;
    margin: 0px;
    font-family: system-ui;
    color: white;
}

.logo-top{
    width: 65%;
}

.BarraSuperior {
        margin-left: 15px;
        margin-right: 15px;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.separador{
    height: 25px;
    background-color: yellow;
}

.banner-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
    width: 47%;
    background-color: #0000007a;
    color: white;
}

.banner-principal > h1 {
    margin: 0;
    font-size: 135px;
}

.banner-principal > h5 {
    margin: 90px 0 15px 0;
    font-size: 25px;
}

.banner-principal > h3 {
    margin: 0 0 -40px 0;
    font-size: 35px;
}

.product-description > p {
    text-align: justify;
}

.jumbotron{
    display: flex;
    background-image: url(sources/main-section-background.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
}

form {
    height: 40px;
    display: flex;
}

form > input {
    border: 0;
}

input.submit-button {
    width: 20%;
    border-radius: 0 5px 5px 0;
}

input.email-input {
    padding-left: 10px;
    font-size: 20px;
    width: 60%;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.jumbotron > div {
    width: 50%;
}

.imagenprueba:hover {
    filter: brightness(0.5);
}

nav {
    display: flex;
    font-size: 22px;
    width: 28%;
    justify-content: space-between;
}

nav > a:hover {
    color: yellow;
}

a{
    color: white;
    text-decoration: none;
}

.pruduct-cart {
    height: auto;
    box-shadow: 0px 0px 20px white;
}

.product-container {
    padding: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.call-to-action{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(sources/call-to-action-background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 35em;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.call-to-action-title{
    font-size: 5em;
    text-align: center;
}

.product-container > div {
    height: auto;
    width: 30%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    height: 350px;
    background-color: black;
    color: white;
}

.logo-inferior{
    width: 290px;
}

.product-image {
    height: 200px;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.pruduct-cart > .product-1 {
    background-image: url(sources/componentes.jpg)
}

.pruduct-cart > .product-2 {
    background-image: url(sources/realidad-virtual.jpg)
}

.pruduct-cart > .product-3 {
    background-image: url(sources/redes.jpg)
}

.menu-logo-container{
    display: none;
}

.product-description {
    background-color: #ffffff1f;
    border-radius: 0 0 25px 25px;
    padding: 0px 25px;
}

.encabezado-productos {
    text-align: center;
    margin-top: 3em;
}

input.submit-button:hover {
    cursor: pointer;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.social-icons > img {
    width: 50px;
    cursor: pointer;
}

.email {
    font-size: 15px;
    border: 0;
    border-radius: 10px 0px 0px 10px;
    width: 80%;
    padding-left: 10px;
}

.send {
    background-color: blue;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    color: #e7e7e7;
    font-weight: bold;
    width: 15%;
    cursor: pointer;
}

.product-carousel-container{
    margin: 40px;
    display: flex;
    align-items: center;
}

.arrow-products{
    height: 50px;
    cursor: pointer;
}

/*
CODE PAGE**********************************************************
*/

.code-selection {
    margin: 5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-code-container {
    display: flex;
    justify-content: space-evenly;
}

.select-code-container > img {
    width: 15%;
    cursor: pointer;
}

.code-js-section, .code-css-section, .code-html-section{
    margin: 5em 6em;
    display: none;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.button-container > button {
    width: 25%;
}

.nav-map {
    width: 25%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: blue;
}

.explain-container{
    border-radius: 0px 0px 15px 15px;
    background-color: #2c2c2c70;
    padding: 4em;
}

@media only screen and (max-width: 576px) {

    #product-3{
        display: none;
    }

    #product-2{
        display: none;
    }

    .arrow-products{
        display: none;
    }

    .menu-logo-container{
        display: block;
    }

    img.menu-logo {
        width: 40px;
    }

    .jumbotron > div {
        padding: 45px 20px;
        width: auto;
    }
    
    .banner-principal > h1 {
        font-size: 100px;
    }
    
    .banner-principal > h5 {
        margin: 70px 0 15px 0;
        font-size: 21px;
    }
    
    .banner-principal > h3 {
        font-size: 30px;
        margin: 0 0 -30px 0;
    }
    
    .product-container {
        padding: 2em;
        align-items: center;
        flex-direction: column;
    }
    
    .product-container > div {
        margin-bottom: 3em;
        height: auto;
        width: 100%;
        flex-direction: column;
    }

    .encabezado-productos {
        margin-top: 2em;
    }

    .call-to-action-title {
        font-size: 2em;
    }
    
    .call-to-action {
        height: 20em;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .footer > div {
        margin-bottom: 2em;
    }

    .footer-menu {
        display: none;
    }

    .social-container {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 1080px) {

    nav{
        display:none;
    }

}

@media only screen and (min-width: 1080px) {

    .social-container{
        padding: 0px 100px;
        border-right: solid yellow;
        border-left: solid yellow;
    }

}