header{
background-color: black;
height: 10em !important;
}

body{
    background-color: darkgray;
    margin: 0px;
    font-family: system-ui;
}

.logo-top{
    width: 65%;
}

.BarraSuperior {
        margin-left: 15px;
        margin-right: 15px;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.separador{
    height: 25px;
    background-color: black;
}

.banner-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
}

.banner-principal > h1 {
    margin: 0;
    font-size: 135px;
}

.banner-principal > h5 {
    margin: 90px 0 15px 0;
    font-size: 25px;
}

.banner-principal > h3 {
    margin: 0 0 -40px 0;
    font-size: 50px;
}

.jumbotron{
    height: 550px;
    display: flex;
    justify-content: space-between;
}

form {
    height: 40px;
    display: flex;
}

form > input {
    border: 0;
}

input.submit-button {
    width: 20%;
    border-radius: 0 5px 5px 0;
}

input.email-input {
    width: 60%;
    border-radius: 5px 0 0 5px;
}

.jumbotron > div {
    width: 50%;
}

.imagenprueba {
    background-size: cover;
    background-image: url(ImagenPrimera.jpg);
    filter: brightness(0.6);
    height: 550px;
}

nav {
    display: flex;
    font-size: 22px;
    width: 28%;
    justify-content: space-between;
}

nav > a:hover {
    color: darkgoldenrod;
}

a{
    color: white;
    text-decoration: none;
}

.fondo_principal{
    background-image: url(ImagenPrimera.jpg);
}

.principal {
    background-color: green;
}

.pruduct-cart {
    height: 20px;
    box-shadow: 10px 5px 20px black;
}

.product-container {
    padding: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-container > div {
    height: 375px;
    width: 30%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    height: 350px;
    background-color: black;
    color: white;
}

.separador-footer{
    height: 30px;
    background-color: yellow;
}

.logo-inferior{
    width: 290px;
}

.product-image {
    background-image: url(ImagenPrimera.jpg);
    height: 200px;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
}

.product-description {
    height: 175px;
    padding: 0px 25px;
}

.encabezado-productos {
    text-align: center;
}

.jumbotron-responsive{
    display: none;
}

@media only screen and (max-width: 576px) {
    nav{
        display:none;
    }

    .jumbotron-responsive{
        display: block;
    }

    .jumbotron{
        display: none;
    }

    .jumbotron-responsive{
        background-image: url(ImagenPrimera.jpg);
    }
}